body {
    background: #E1F8BC;
    text-align: center;
}

div#form_area {
    background-color: white;
    display: inline;
}

ul {
    display: inline;
}

img {
    height: 300px;
}

li {
    padding: 50px;
}